.my-items {
  width: 100%;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-row {
  display: none;
}

.header-row .cell {
  font-weight: bold;
  height: 45px;
  line-height: 25px;
  vertical-align: baseline;
}

.item-row {
  row-gap: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25);
}

.item-row:last-child {
  margin-bottom: 0;
  box-shadow: none;
}

.item-row .cell {
  display: flex;
  align-items: center;
}

.cell {
  text-align: center;
}

.header-row .name,
.header-row .shop-cell,
.shop-cell,
.name-cell {
  text-align: left;
}

.name-cell {
  min-width: 100%;
  max-width: 100%;
}

.shop-cell-wrapper {
  min-width: 29%;
  max-width: 29%;
}

.price-cell-wrapper {
  min-width: 28%;
  max-width: 28%;
}

/* tablets */
@media screen and (min-width: 600px) {
}

/* desktop */
@media screen and (min-width: 960px) {
  .my-items {
    width: min-content;
  }

  .header-row {
    display: flex;
  }

  .header-row,
  .item-row {
    flex-wrap: nowrap;
  }

  .item-row {
    row-gap: 0;
    margin-bottom: 0;
  }

  .item-row .cell {
    height: 50px;
    line-height: unset;
  }

  .name-cell {
    min-width: 300px;
    max-width: 300px;
  }

  .shop-cell-wrapper {
    min-width: unset;
    max-width: unset;
  }

  .shop-cell {
    min-width: 140px;
    max-width: 140px;
  }

  .price-cell-wrapper {
    min-width: unset;
    max-width: unset;
  }

  .price-cell {
    min-width: 120px;
    max-width: 120px;
  }

  .expected-price-cell {
    min-width: 160px;
    max-width: 160px;
  }

  .tracked-cell {
    min-width: 80px;
    max-width: 80px;
  }

  .options-cell {
    min-width: 130px;
    max-width: 130px;
  }

  .price-cell,
  .expected-price-cell,
  .tracked-cell {
    justify-content: center;
  }
}
