:root {
  --name-width: 370px;
  --shop-width: 140px;
  --price-width: 95px;
  --expected-price-width: 125px;
  --tracked-width: 80px;
  --options-width: 100px;
}

.my-items {
  width: 100%;
}

.header-row {
  display: none;
}

.header-cell {
  font-weight: bold;
  height: 45px;
  line-height: 25px;
  vertical-align: baseline;
  text-align: center;
}

.name-header-cell,
.shop-header-cell {
  text-align: left;
}

.name-header-cell {
  min-width: 100%;
  max-width: 100%;
}

/* tablets */
@media screen and (min-width: 600px) {
}

/* desktop */
@media screen and (min-width: 960px) {
  .my-items {
    width: min-content;
  }

  .header-row {
    display: flex;
    flex-wrap: nowrap;
  }

  .name-header-cell,
  .shop-header-cell,
  .price-header-cell,
  .expected-price-header-cell {
    margin-right: 30px;
  }

  .name-header-cell {
    min-width: var(--name-width);
    max-width: var(--name-width);
  }

  .shop-header-cell {
    min-width: var(--shop-width);
    max-width: var(--shop-width);
  }

  .price-header-cell {
    min-width: var(--price-width);
    max-width: var(--price-width);
  }

  .expected-price-header-cell {
    min-width: var(--expected-price-width);
    max-width: var(--expected-price-width);
  }

  .tracked-header-cell {
    min-width: var(--tracked-width);
    max-width: var(--tracked-width);
  }

  .options-header-cell {
    min-width: var(--options-width);
    max-width: var(--options-width);
  }
}
