:root {
  --name-col-width: 300px;
}

th {
  height: 45px;
  line-height: 25px;
  vertical-align: baseline;
}

/* tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
} */

tbody tr {
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25);
}

tbody tr:last-child {
  box-shadow: none;
}
