.show-password {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-top: 7px;
  padding-bottom: 24px;
}

.show-password label {
  font-size: 14px;
  line-height: 14px;
  font-weight: unset;
  margin-bottom: 0;
}

.field-before-show-password {
  padding-bottom: 12px;
}
