.item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25);
}

.item-row:last-child {
  margin-bottom: -20px;
  box-shadow: none;
}

.cell {
  display: flex;
  align-items: center;
}

.full-width-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-wrapper {
  justify-content: unset;
  column-gap: 5%;
}

.shop-cell-wrapper {
  min-width: 29%;
  max-width: 29%;
}

.price-cell-wrapper {
  min-width: 28%;
  max-width: 28%;
}

.cell-title {
  font-size: small;
  font-weight: bold;
}

.name-cell,
.shop-cell {
  text-align: left;
}

.name-cell::-webkit-scrollbar,
.shop-cell::-webkit-scrollbar,
.price-cell::-webkit-scrollbar {
  display: none;
}

.name-cell {
  min-width: 100%;
  max-width: 100%;
  height: unset;
  cursor: pointer;
  line-height: 20px;
  padding: 4px 0;
}

.shop-cell,
.price-cell {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shop-cell::-webkit-scrollbar {
  display: none;
}

.expected-price-cell input {
  padding: 0px 8px;
  width: 75px;
  font-size: 16px;
  line-height: 28px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: var(--input-text-background-color);
  box-shadow: rgb(60 66 87 / 16%) 0px 0px 0px 1px;
}

.expected-price-reached {
  /* color: rgb(97, 156, 16); */
  color: rgb(57, 136, 0);
}

.options-cell {
  column-gap: 20px;
  justify-content: right;
}

.cell-content-flex-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracked-cell {
  padding: 5px 0 20px;
}

.tracked-cell input {
  height: 20px;
  width: 20px;
}

.icon {
  height: 26px;
  width: 26px;
  cursor: pointer;
}

/* tablets */
@media screen and (min-width: 600px) {
}

/* desktop */
@media screen and (min-width: 960px) {
  .middle-wrapper {
    column-gap: unset;
  }

  .item-row {
    flex-wrap: nowrap;
    row-gap: 0;
    margin-bottom: 0;
  }

  .item-row:last-child {
    margin-bottom: -11px;
  }

  .cell {
    height: 50px;
    line-height: unset;
  }

  .cell-title {
    display: none;
  }

  .name-cell,
  .shop-cell-wrapper,
  .price-cell-wrapper,
  .expected-price-cell {
    margin-right: 30px;
  }

  .name-cell {
    min-width: var(--name-width);
    max-width: var(--name-width);
    padding: unset;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .shop-cell-wrapper {
    min-width: var(--shop-width);
    max-width: var(--shop-width);
  }

  .price-cell-wrapper {
    min-width: var(--price-width);
    max-width: var(--price-width);
    display: flex;
    justify-content: center;
  }

  .expected-price-cell,
  .tracked-cell {
    justify-content: center;
  }

  .expected-price-cell {
    min-width: var(--expected-price-width);
    max-width: var(--expected-price-width);
  }

  .expected-price-cell input {
    padding: 4px 8px;
  }

  .tracked-cell {
    min-width: var(--tracked-width);
    max-width: var(--tracked-width);
    padding: unset;
  }

  .options-cell {
    min-width: var(--options-width);
    max-width: var(--options-width);
    column-gap: 16px;
  }

  .icon {
    height: 28px;
    width: 28px;
  }
}
