.settings-wrapper {
  min-width: 250px;
}

.settings-header {
  display: flex;
  justify-content: space-between;
}

.user-settings-title {
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  padding: 0 0 20px;
}

.user-settings-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.user-settings-inner-wrapper {
  width: 100%;
}

.user-info-field,
.user-settings-field {
  margin-bottom: 12px;
}

.user-settings-field {
  width: 100%;
}

.user-settings-field .show-password {
  padding-bottom: 6px;
}

.last-user-settings-field {
  margin-bottom: 0;
}

.user-info-field h3,
.user-settings-field h3 {
  font-size: 14px;
  font-weight: 600;
}

.show-change-password-button,
.show-delete-account-button,
.set-prev-image {
  color: var(--link-color);
  cursor: pointer;
}

.change-password-form,
.delete-account-form {
  display: none;
}

.change-password-form .form-field {
  margin-top: 7px;
  padding-bottom: 0;
}

.change-password-form .submit-field {
  padding: 0;
}

.delete-account-form label {
  font-size: 14px;
  line-height: 14px;
  font-weight: unset;
  margin-bottom: 0;
}

.delete-account-input {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.delete-account-form label {
  line-height: unset;
}

.delete-account-form .submit-field {
  padding-top: 10px;
}

.logout-link {
  height: 24px;
  display: flex;
  align-items: center;
  column-gap: 7px;
  color: var(--link-color);
}

.logout-link span {
  line-height: 15px;
  display: none;
}

.logout-link svg {
  height: 85%;
}

/* tablets */
@media screen and (min-width: 600px) {
}

/* desktop */
@media screen and (min-width: 960px) {
  .settings-wrapper {
    width: 448px;
  }

  .logout-link span {
    display: initial;
  }

  .logout-link svg {
    height: 70%;
  }

  .user-settings-field {
    width: 50%;
  }

  .user-settings-field .show-password {
    padding-bottom: 24px;
  }
}
